*.zip
*.csv
*.pper
.Rproj.user/B423DC97/rmd-outputs
.Rproj.user/B423DC97/saved_source_markers
.Rproj.user/B423DC97/sources/per/t/61357057
.Rproj.user/B423DC97/sources/per/t/61357057-contents
.Rproj.user/B423DC97/sources/per/t/682D9469
.Rproj.user/B423DC97/sources/per/t/682D9469-contents
.Rproj.user/B423DC97/sources/prop/4CE161A0
.Rproj.user/B423DC97/sources/prop/7C95E8FE
.Rproj.user/B423DC97/sources/prop/D34751AA
.Rproj.user/B423DC97/sources/prop/D8B8B8E6
.Rproj.user/B423DC97/sources/prop/EE64DE44
.Rproj.user/B423DC97/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
